<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="assets/app.css" rel="stylesheet">

</head>

<body ng-app="app" >
    <div class="wrapper center-block">
    <section class="pull-left" ng-controller="Phones">

        <h2>Phones</h2>
        <article ng-repeat="item in products" class="phone-list">
            <table class="table">
                <thead>
                    <tr>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="selectedRow('phone', item.phone.name)">
                        <td ng-bind="item.phone.name" ng-click="addProduct(item)"></td>
                    </tr>
                </tbody>
            </table>
        </article>

    </section>

    <section class="shopping-cart pull-left" ng-controller="ShoppingCart">
        <header>
            <h6>Jouw Bestelling</h6>
        </header>

        <article class="phone">
            <header class="">
                <h5 ng-bind="product.phone.name"></h5>
            </header>
            <ul>
                <li class="inline-block">Adviesprijs <span class="pull-left" ng-bind="product.phone.msrp | currency:'&euro;'"></span></li>
                <li>Direct Voldoen <span class="pull-right"><strong ng-bind="product.phone.price | currency:'&euro;'"></strong></span></li>
                <li>Aansluitkosten <span class="pull-right" ng-bind="product.connection | currency:'&euro;'"></span></li>
            </ul>
        </article>

        <article class="contract">
            <header>
                <hgroup>
                    <h5>Startabonnement <span ng-bind="product.contract.months | monthToYears"></span> jaar</h5>
                    <h6 class="contract-summary"><span ng-bind="product.contract.months"></span> maanden <span ng-bind="discount | currency:'&euro;'"></span> korting </h6>
                </hgroup>
            </header>
            <ul>
                <li ng-bind="product.internet.data | data"></li>
                <li ng-bind="product.voice.minutes | minutes"></li>
                <li>
                    <ul class="pull-right">
                        <li class="cross-out inline" ng-bind="total | currency:'&euro;'"></li>
                        <li class="bold inline" ng-bind="discountedPrice | currency:'&euro;'"></li>
                    </ul>
                </li>
            </ul>
        </article>

        <article class="total">
            <ul>
                <li>Totaal <span>(/mnd)</span> <span class="pull-right" ng-bind="discountedPrice | currency:'&euro;'"></span></li>
                <li ng-show="product.insurance.price">Verzekering <span>(/mnd)</span> <span class="pull-right" ng-bind="product.insurance.price | currency:'&euro;'"></span></li>
            </ul>
        </article>

        <footer class="text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block">Naar bestellen <i class="fa fa-angle-right"></i></button>
        </footer>

    </section>

    <section class="pull-left">
        <header>
            <h3>Product Details</h3>
        </header>
        <div class="pull-left">
            <article class="product-item" ng-controller="ProductDetails">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Insurance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="insurance-plans" ng-repeat="plan in product.complete.insurance" ng-class="selectedRow('insurance', plan)">
                        <td ng-bind="plan.name" ng-click="updateCart('insurance', plan)"></td>
                    </tr>
                    </tbody>
                </table>
            </article>

            <article class="product-item" ng-controller="ProductDetails">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Contract Length</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="length in product.complete.contract" ng-class="selectedRow('contract', length)">
                        <td ng-bind="length.months | monthToYears" ng-click="updateCart('contract', length)"></td>
                    </tr>
                    </tbody>
                </table>
            </article>

            <article ng-controller="ProductDetails">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Internet</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="internet in product.complete.internet" ng-class="selectedRow('internet', internet)">
                        <td ng-bind="internet.data" ng-click="updateCart('internet', internet)"></td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
        <div class="pull-left">
            <article ng-controller="ProductDetails">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Voice</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="voice in product.complete.voice" ng-class="selectedRow('voice', voice)">
                        <td ng-bind="voice.minutes" ng-click="updateCart('voice', voice)"></td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </section>
    </div>
</body>

<script src="assets/app.min.js"></script>

<!--<script src="scripts/app.js"></script>-->
<!--<script src="scripts/MockApp.js"></script>-->
<!--<script src="scripts/controllers/ShoppingCartController.js"></script>-->
<!--<script src="scripts/controllers/PhonesController.js"></script>-->
<!--<script src="scripts/controllers/ProductDetailsController.js"></script>-->
<!--<script src="scripts/directives/HighlightRowDirective.js"></script>-->
<!--<script src="scripts/services/GetDataService.js"></script>-->
<!--<script src="scripts/services/ProductService.js"></script>-->
<!--<script src="scripts/filters/dataFilter.js"></script>-->
<!--<script src="scripts/filters/minutesFilter.js"></script>-->
<!--<script src="scripts/filters/monthToYears.js"></script>-->

</html>