ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.wrapper {
    width: 1000px;
    margin-top: 200px
}

section {
    margin-right: 65px;
}

.table td {
    cursor: pointer;
}


/* ==============================
        Shopping Cart
   =============================*/


.shopping-cart {
    width: 228px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 0 5px -1px #ccc;
    border: solid 1px #d3dee5;
    border-radius: 3px;
}

.shopping-cart > header:first-child > h6 {
    height: 30px;
    line-height: 30px;
    color: #a4a4a4;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.shopping-cart .phone {
    border-bottom: 2px solid #eff3f6;
}
.shopping-cart .phone li {
    margin-bottom: 2px;
}
.shopping-cart article {
    width: 100%;
    padding: 0 20px 20px;
}

.shopping-cart article:nth-child(4) {
    border: none;
}

.shopping-cart article > header h5 {
    font-weight: bold;
}

.shopping-cart .contract-summary {
    margin-top: -10px;
    color: #e20074;
    font-weight: bold;
}

.shopping-cart .total {
    padding: 20px 15px;
    background: #f8fafc;
    margin: 20px 0;
}

.shopping-cart .total li {
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
}

.shopping-cart .total span:first-child {
    font-weight: normal;
    font-size: 12px;
}

.shopping-cart footer {
    padding: 10px 20px;
}

.shopping-cart footer i {
    margin-left: 5px;
}

.product-item li    {
    cursor: pointer;
    text-align:center;
}

.product-item li:hover {
    background: lightgreen;
}


/* ============================
        Update Btn
   ===========================*/
.updateData {
    position: relative;
    top: 50px;
    left: 380px;
}

.updateData td {
    cursor: pointer;
}

.phone-list {
    width: 300px;
}



/* =======================
            Helpers
    ======================*/

.cross-out {
    text-decoration: line-through;
}

.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.btn {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: #e20074;
    border-color: #c00063;
}

.btn:hover {
    background: #333;
    border-color: #333;

}

